.button {
  all: unset;

  cursor: pointer;

  box-sizing: border-box;
  width: min-content;
  padding: 5.5px 4px;

  text-align: center;
  text-wrap: nowrap;

  border: 1px solid var(--color-4);
  border-radius: 3px;

  transition: 0.3s;

  &:disabled {
    cursor: initial;
    opacity: 0.5;
  }

  &.fullWidth {
    width: 100%;
  }

  &:hover,
  &:disabled {
    background-color: var(--color-hover);
    border: none;
  }
}
