html {
  box-sizing: border-box;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0 auto;
}

input,
button,
select,
textarea,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
}

a:visited {
  color: inherit;
}

body {
  min-width: 350px;
  margin: 0;
  padding: 0;

  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-text);

  background-color: var(--color-background);
}
