.container {
  display: grid;
  grid-template-columns: minmax(100px, 450px) minmax(500px, 1fr);
  grid-template-rows: 50px 1fr;
  gap: 20px 90px;
  align-content: center;

  max-width: 1390px;
  height: 100vh;
  margin: 0 auto;
  padding-top: 100px;
}

.main {
  grid-area: 2/2/3/3;
  width: 100%;
}
