.nav {
  grid-area: 2/1/3/2;
  width: 100%;
  padding: 0 20px;
}

.controlBlock {
  display: flex;
  column-gap: 10px;
  margin-bottom: 10px;
}

.tree {
  position: relative;

  & ul {
    padding-inline-start: 30px;
  }

  & li {
    list-style: none;

    & div {
      display: flex;
      align-items: center;
      min-height: 30px;
    }
  }
}

.listItemContentLink {
  cursor: pointer;
  width: 100%;
  padding-left: 5px;
  text-decoration: none;
}

.listItemButton {
  all: unset;

  &.expanded span svg {
    transform: rotate(90deg);
  }
}

div[data-p-highlight='true'] {
  &::before {
    content: '';

    position: absolute;
    z-index: -1;
    left: 0;

    width: 100%;
    height: 30px;

    background-color: var(--color-hover);
  }
}

div[data-pc-section='filtercontainer'] {
  display: none;
}
