/* reset */
button {
  all: unset;
}

.wrapper {
  display: flex;
  flex-shrink: 0;
  column-gap: 0.5em;
  align-items: center;
}

.checkboxRoot {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 18px;
  height: 18px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  border: 2px solid currentcolor;
  border-radius: 2px;
}

.CheckboxIndicator {
  color: var(--color-text);
}

.Label {
  font-size: 15px;
  line-height: 1;
  color: white;
}
