.root {
  display: block;
  width: 100%;

  .label {
    color: var(--color-text);

    &.disabled {
      opacity: 0.5;
    }
  }

  .required {
    color: var(--color-error);
  }

  .container {
    position: relative;

    .searchIcon {
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);

      fill: var(--color-4);

      &.disabledIcon {
        fill: var(--color-4);
      }
    }

    .input {
      all: unset;

      box-sizing: border-box;
      width: 100%;
      padding: 10px;

      font-size: 15px;
      font-weight: 400;
      color: var(--color-text);

      background: transparent;
      border: 1px solid var(--color-4);
      border-radius: 3px;
      outline: 1px solid transparent;

      transition: 0.3s;

      &::placeholder {
        color: var(--color-4);
      }

      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s;
      }

      &.search {
        padding-left: 40px;

        &:not(:focus) ~ button {
          cursor: text;
          opacity: 0;
        }
      }

      &.error {
        color: var(--color-error);
        border-color: var(--color-error);

        &::placeholder {
          color: var(--color-error);
        }
      }
    }

    .button {
      all: unset;

      cursor: pointer;

      position: absolute;
      top: 50%;
      right: 12px;
      transform: translateY(-50%);

      display: flex;
      align-items: center;

      > svg {
        fill: var(--color-text);
        transition: 0.3s;

        &:hover {
          fill: var(--color-4);
        }
      }

      &:disabled {
        cursor: auto;

        > svg {
          fill: var(--color-dark-300);
        }
      }
    }
  }

  .errorMessage {
    font-size: 14px;
    color: var(--color-error);
  }
}
